@use 'base/mixins' as m;
@use 'base/variables' as v;

.listado-ponentes{
    @include m.reset-lista;
    @include m.grid(1,1rem);
    &__ponente{
        color: v.$azul;
        border: 1px solid v.$azul;
        padding: 1rem;
        border-radius: 1rem;
        text-align: center;
        transform-origin: background-color, color;
        transition-duration: 450ms;
        transition-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
        &:hover{
            cursor: pointer;
        }
        &--seleccionado{
            @extend .listado-ponentes__ponente;
            background-color: v.$azul;
            color: v.$blanco;
        }
    }
}